
<!DOCTYPE html>

<html>

<head>
<meta charset="UTF-8">
</head>
{% block body %}

<body>
   <h2>Bonjour,
    Merci d'avoir commandé vos Ticket pour la visite du Musée du Louvre.
    Votre Numéro de Commande: {{ orders.token }}
    </br>
    Vos Billets:</h2>

    {% for ticket in orders.TicketsId %}
    <div style = "border: 3px solid grey">

        <div style="margin: 0 auto; width: 497px;">

            <img src = "{{ logo }}" width = "497px" height = "150px" alt="Logo du musée du Louvre" />
            <h2>Numéro de ticket: {{ ticket.token }}</h2>
            <h2>Tarif: {{ ticket.price / 100 }}€</h2>
            <h2>Date: {{ ticket.date|date('d/m/Y') }}</h2>

        </div>

        <div style = "text-align: center">

            <h2>Nom: {{ ticket.lastname }}</h2>
            <h2>Prénom: {{ ticket.firstname }}</h2>
            <h2>Date de Naissance: {{ ticket.birthdate|date('d/m/Y') }}</h2>


        </div>

</div>

    {% endfor %}
</body>
{% endblock %}
</html>
